
@font-face {
    src : url("fonts/avengersFont.otf");
    font-family:avengersFont;
}

@font-face {
    src : url("fonts/CaptainAmerica.otf");
    font-family:CaptainAmerica;
}

@font-face {
    src : url("fonts/thinCaptainAmerica.ttf");
    font-family:thinCaptainAmerica;
}

@font-face {
    src : url("fonts/exoLight.ttf");
    font-family:exoLight;
}

@font-face {
    src : url("fonts/exoThin.ttf");
    font-family:exoThin;
}

@font-face {
    src : url("fonts/exoRegular.ttf");
    font-family:exoRegular;
}

body {
    background-image: url("images/marvel6.jpg");
    background-size:100%;
}

#searchBox {
    background-color: grey;
    border-radius: 8px;
}


#homeTextBox{
    opacity:0.9;
    border-radius:8px;
}

#homeHeader {
    font-size:5rem;
    /* padding-top:10px; */
}

#homeHeaderBox {
    background-color: grey;
    align-content:center;
    border-radius:8px;
    font-family:avengersFont;
}

#gifGuideBox {
    /* background-color: red; */
    border-radius: 8px;
    font-family:CaptainAmerica;
}

#gifGuide {
    font-size:1.5rem;
}

#inputSearchHead {
    font-size:2rem;
    font-family:CaptainAmerica;
}

#modalContent.xl {
    width: 100%;

}

#marvelName {
    font-family:CaptainAmerica;
    letter-spacing:2px;
}

#marvelBio {
    font-family:exoRegular;
    word-spacing:10px;
    font-size:18px;
    line-height:1.6;
}


/* CSS for index2.html */
#homeHeader2Horizon {
    margin-bottom:30px;
    /* position:fixed;
    left:0;
    right:0; */
    z-index: 1;
    background:grey;
}

#homeHeader2Div {
    font-family:avengersFont;
    font-size:35px;
}

#homeHeader2 {
    font-family:avengersFont;
}

#textBox2HeadDiv {
    border-radius:8px; 
}

#textBox2Outside {
    border-radius: 8px;
}

#thumbnail {
    width: 170px;
    height: 170px;
    border-radius: 2px;
    margin-bottom:20px;
} 

#exampleModalLabel {
    font-size:2.5rem;
}

#iframe {
    border-radius: 5px;
}

/* Front page mobile responsiveness */

@media (max-width: 991px) {
    #homeHeaderBox {
        max-width: 80%;
    }
    #homeHeader {
        font-size: 3.7rem
    }
}

@media (max-width: 769px) {
    #homeHeaderBox {
        max-width: 80%;
    }

    #homeHeader {
        font-size: 3.5rem
    }
}

@media (max-width: 476px) {
    #homeHeaderBox {
        max-width: 90%;
    }

    #homeHeader {
        font-size: 3.3rem
    }
}

@media (max-width: 425px) {
    #homeHeaderBox {
        max-width: 80%;
    }

    #homeHeader {
        font-size: 3rem
    }
}

/* Modal page mobile responsiveness */